body {
    background-color: purple;
}

h1 {
    text-align: center;
    text size: 50px;
}
.introduction {
    background-color: black;
}
.portfolio_btt {
    border radius: 20%;
    text-color: black;
    color: purple;
}
.projects {
    display: inline-block;
    justify-content: space-around;
    margin-bottom: 20px;
}

.category {
    display: inline-block;
    height: 50px;
    width: 50px;
    maright-right: 5px;
}
.expand-section {
    display: none;
    width: 100%;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
}
.expand-section.active {
    display: block;
    max-height: 300px; /* Adjust as needed */
}